@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet&display=swap");

:root {
  --Snigle-font: "sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --bggradient: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

* {
  box-sizing: border-box;
  font-family: var(--Rubik);
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth !important;
}

header,
section {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

header a {
  font-family: var(--Snigle-font);
  font-size: 0.9em;
  color: whitesmoke;
}

header {
  background: var(--bggradient);
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 1em;
}

header .nav-link {
  font-size: 1.2em;
  background: white;
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease-out;
}

header .navbar-brand {
  padding-left: 8rem;
  font-size: 1.8em;
}

header .nav-link:hover {
  background-position: -100%;
  transform: rotate(10deg);
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 28vmin;
  font-family: var(--Rubik);
  color: whitesmoke;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h4 {
  padding: 1vmin;
  letter-spacing: 1.2px;
}

header .btn {
  border-radius: 30px;
  margin-top: 1em;
  font-weight: bold;
}

/********** section 1 **************/

.section-1 {
  position: relative;
  height: 105vh;
  display: flex;
  background: var(--bggradient);
}

.section-1 .screen {
  position: relative;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  transition: 1s;
}

.section-1 .screen:nth-child(1) {
  background: url(../assets/first.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.section-1 .screen:nth-child(2) {
  background: url(../assets/second.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.section-1 .screen:nth-child(3) {
  background: url(../assets/third.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.section-1 .screen:hover {
  flex-grow: 5;
  opacity: 1;
}

.section-1 .screen .content-sec {
  position: absolute;
  width: 350px;
  height: auto;
  background: var(--bggradient);
  padding: 25px;
  box-sizing: border-box;
  transform: translateX(100%);
  transition: 0.2s;
  text-align: justify;
}
.section-1 .screen:hover .content-sec {
  transform: translateX(0);
  transition-delay: 0.4s;
}

.section-1 .screen .content-sec p {
  color: whitesmoke;
  font-family: var(--Rubik);
  margin: 0;
  padding: 0;
}

/********** section 2 **************/

.section-2 {
  padding: 8vmin 0vmin;
  min-height: 530px;
}

.section-2 .row .col-md-6 .pray img {
  width: 65%;
  border-radius: 0.2em;
}

.section-2 .row .col-md-6:last-child {
  position: relative;
}

.section-2 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -25vmin;
  background: var(--bggradient);
  border-radius: 3px;
  text-align: left;
  padding: 4vmin 4vmin 7vmin 5vmin;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-2 .row .col-md-6 .panel h2 {
  font-weight: bold;
  padding: 0.4em 0;
  color: whitesmoke;
  font-size: 1.4em;
}

.section-2 .row .col-md-6 .panel h3 {
  color: whitesmoke;
  font-size: 1.3em;
  font-weight: bold;
}

.section-2 .row .col-md-6 .panel h4 {
  color: whitesmoke;
  font-size: 1.2em;
}

.section-2 .row .col-md-6 .panel h6 {
  color: whitesmoke;
  font-size: 1em;
}

.section-2 .row .col-md-6 .panel p {
  color: whitesmoke;
  font-size: 0.9em;
}

/********** section 3 **************/

.numbers .rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 15rem;
  height: auto;
  padding-top: 3.5vmin;
  margin: 2rem;
  border-radius: 0.5em;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.numbers .rect h1 {
  font-size: 4rem;
  color: tomato;
}

.numbers .rect p {
  font-family: var(--Rubik);
  font-size: 1.5rem;
}

.section-3 {
  background: #dd2476;
  background: var(--bggradient);
}

/********** section 4 **************/
.section-4 .container {
  padding-top: 6vmin;
}

.section-4 .container .secondary-text {
  font-size: 3vmin;
}

.section-4 .card {
  width: 22em;
  margin: 1.6em;
  margin-top: 5vmin;
  margin-bottom: 10vmin;
  transition: transform 0.3s ease-in-out;
}
.section-4 .card:hover {
  transform: scale(1.05);
}

.section-4 .card .card-text {
  padding: 0.4em;
}

.section-4 .card-body > a {
  font-size: 1.3em;
}

/********** section 5 **************/

.section-5 {
  padding-top: 7vmin;
  padding-bottom: 10vmin;
  background-position: center;
  background: var(--bggradient);
  margin: auto;
}

.contact {
  width: 40%;
  padding: 4vmin;
  padding-top: 2vmin;
  margin-left: 30px;
  box-sizing: border-box;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  float: left;
  border-radius: 25px;
  background-color: white;
}

.contact h2 {
  color: #666;
  text-align: center;
  font-size: 30px;
}
.input-field {
  position: relative;
  width: 100%;
  margin-top: 50px;
}
.input-field input,
.input-field textarea {
  width: 100%;
  padding: 5px 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #666;
  font-size: 12px;
  /* color: whitesmoke; */
  font-weight: 500;
  resize: none;
}
.input-field label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 0;
  pointer-events: none;
  font-size: 12px;
  color: #666;
  font-weight: 700;
  transition: 0.5s;
}
.input-field input:focus + label,
.input-field textarea:focus + label,
.input-field input:valid + label,
.input-field textarea:valid + label {
  top: -25px;
  font-size: 14px;
  padding: 2px 5px;
  background: #ff006a;
  color: #fff;
  border-radius: 4px;
}
.section-5 .contact .btn {
  margin-top: 10px;
  background: #ff006a;
  color: #fff;
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.5s;
}
.section-5 .contact .btn:hover {
  background: #dd2476;
}

.quote {
  width: 50%;
  margin-left: auto;
  margin-right: 40px;
  padding-top: 10em;

  text-align: center;
  color: whitesmoke;
  padding-top: 10em;
  font-weight: 500;
  font-size: 16px;
}

/********** footer **************/

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 7vmin 22vmin;
  padding-bottom: 10px;
}

footer .sp {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
  margin: 0.4rem;
  font-size: 2em;
  transition: color 0.3s linear;
}
footer .column i:hover {
  color: #ff4e9e;
}

footer p.gmail {
  color: #dd2476;
  transition: color 0.3s linear;
}

footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: all 1.5s ease;
}
#myBtn {
  display: none;
  position: fixed;
  height: 40px;
  width: 40px;
  z-index: 100;
  bottom: 55px;
  right: 30px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: grey;
  color: #ffff;
  cursor: pointer;
  padding: 0px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #404040;
}
